/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 56 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

primary colors- #e67e22
tints- #fdf2e9
shades- #cf711f
greys- #333, #555

weight: 400,500,600,700

line-height:1,1.05,1.6

border-radius- 9px
*/

/* *************** */
/* General */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-align-gap {
  align-items: center;
  column-gap: 6.4rem;
  row-gap: 12.8rem;
}

.cards-gap-grid {
  gap: 5.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

.margin-right {
  margin-right: 1.6rem;
}

.main-heading {
  font-size: 5.2rem;
  color: #333;
  line-height: 1.05;
  letter-spacing: -0.5px;
  margin-bottom: 2.4rem;
}

.secondary-heading {
  font-size: 4.4rem;
  color: #333;
  padding-bottom: 5.6rem;
}

.tertiary-heading {
  font-size: 3.2rem;
  color: #333;
  margin-bottom: 2.4rem;
}

.subheading {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #e67e22;
  font-weight: 600;
  letter-spacing: 0.75px;
  padding-bottom: 1.6rem;
}

.btn:link,
.btn:visited {
  font-size: 2rem;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 600;
}

.btn-main:link,
.btn-main:visited {
  display: inline-block;
  background-color: #e67e22;
  color: #fff;
  transition: all 0.3s;
}

.btn-main:hover,
.btn-main:active {
  background-color: #cf711f;
}

.btn-sec:link,
.btn-sec:visited {
  background-color: #fff;
  color: #555;
  transition: all 0.3s;
}

.btn-sec:hover,
.btn-sec:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.strong {
  font-weight: 500;
}
/* *************** */
