/* ************ */
/* BREAKPOINT FOR SMALLER LAPTOPS AT 1344PX */
/* **************** */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .main-heading {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ************ */
/* BREAKPOINT FOR LANDSCAPE TABLETS AT 1200PX */
/* **************** */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .grid-align-gap {
    column-gap: 0.01rem;
    row-gap: 10rem;
  }

  .secondary-heading {
    font-size: 3.2rem;
  }

  .tertiary-heading {
    font-size: 2.4rem;
  }

  .test-gal {
    gap: 8rem;
  }

  .section-testimonials {
    padding-left: 8rem;
  }
}

/* ************ */
/* BREAKPOINT FOR TABLETS AT 944px */
/* **************** */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text-div,
  .hero-img-div {
    text-align: center;
  }

  .faces-div {
    justify-content: center;
    padding-top: 3.2rem;
    padding-bottom: 6.4rem;
  }

  .hero-img {
    width: 60%;
  }

  .hero-text-div h1,
  .hero-text-div .hero-desc {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .number {
    font-size: 7.2rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .meal-heading {
    margin-bottom: 3.2rem;
  }

  .test-gal {
    grid-template-columns: 1fr;
    gap: 14rem;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .section-testimonials {
    padding: 6.4rem;
  }
  .cta {
    grid-template-columns: 60fr 40fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn-form {
    margin-top: 2rem;
  }

  .btn-mobile-nav {
    display: block;
    border: none;
    z-index: 10000;
  }

  .mobile-icon {
    display: block;
    border: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

  .main-nav {
    position: absolute;
  }

  .header {
    position: realtive;
  }

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fdf2e9f8;
    /* *********** */

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s ease-in;
    transform: translateX(100%);
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-item:link,
  .main-nav-item:visited {
    font-size: 2.8rem;
  }

  .nav-open .main-nav {
    transform: translateX(0);
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open .mobile-icon[name="close-outline"] {
    display: block;
    /* background-color: #fdf2e9f8; */
  }

  .nav-open .mobile-icon[name="menu-outline"] {
    display: none;
    /* background-color: #fdf2e9f8; */
  }

  .sticky .btn-mobile-nav {
    background-color: transparent;
  }
}

/* ************ */
/* BREAKPOINT FOR SMALLER TABLETS AT 704px */
/* **************** */

@media (max-width: 44em) {
  .grid-3-cols,
  .grid-4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .list-of-diets {
    grid-column: 1/-1;
    justify-self: center;
  }

  .plans {
    width: 100%;
  }

  .secondary-heading {
    padding-bottom: 4.8rem;
    line-height: 1.4;
  }

  .grid-5-footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .footer-nav {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 5.6rem;
  }

  .logo-social,
  .contact {
    grid-column: span 3;
  }
}

/* ************ */
/* BREAKPOINT FOR SMALLER TABLETS AT 560px */
/* **************** */

@media (max-width: 35em) {
  .grid-2-cols,
  .grid-3-cols,
  .grid-4-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .section-hero {
    padding: 4.8rem 0;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.6rem 3.2rem;
    margin: 0;
    align-self: center;
  }

  /* .main-heading {
    font-size: 4rem;
  } */

  .hero-text-div h1,
  .hero-text-div .hero-desc {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .hero-btn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .logos img {
    height: 1.2rem;
    /* width: 1.6rem; */
  }

  .make-r1 {
    grid-row: 1;
  }

  .make-r5 {
    grid-row: 5;
  }

  .how-to-img-box {
    transform: translateY(4.8rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
  }

  .section-testimonials {
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img {
    height: 32rem;
    grid-row: 1;
  }
}

/* ************ */
/* SAFARI FLEXBOX GAP FIX */
/* **************** */

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
