/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  background-color: #fdf2e9;
  padding: 0 3.2rem;
}

.main-logo {
  height: 2.2rem;
}

/* ******************* */

/* NAVIGATION */
.main-nav-list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-item:link,
.main-nav-item:visited {
  display: inline-block;
  font-size: 1.8rem;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-item:hover,
.main-nav-item:active {
  color: #cf711f;
}

.main-nav-item.main-nav-cta:link,
.main-nav-item.main-nav-cta:visited {
  border-radius: 9px;
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  color: #fff;
}

.main-nav-item.main-nav-cta:hover,
.main-nav-item.main-nav-cta:active {
  background-color: #cf711f;
}

/* ******************* */
/* HERO */

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  padding: 0 3.2rem 0 3.2rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 9.6rem;
}

.hero-img {
  width: 100%;
}

.section-hero {
  /* height: 100vh; */
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

.main-heading {
  font-size: 5.2rem;
  color: #333;
  line-height: 1.05;
  letter-spacing: -0.5px;
  margin-bottom: 4.8rem;
}

.hero-desc {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 5.6rem;
}

.faces-div {
  padding-top: 8rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.images {
  display: flex;
}

.images img {
  width: 4.4rem;
  height: 4.4 rem;
  border-radius: 50%;
  margin-left: -1.6rem;
  border: 3px solid #fdf2e9;
}

.images img:first-child {
  margin-left: 0;
}

.faces-desc {
  font-size: 1.8rem;
  font-weight: 600;
}

.faces-desc span {
  color: #cf711f;
  font-weight: 700;
}

/* ************ */
/* SECTION FEATURED IN */
/* **************** */

.section-featured-in {
  padding: 4.8rem 0 3.2rem 0;
}

.featured-in-heading {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* ************ */
/* SECTION HOW TO */
/* **************** */

.section-how-to {
  padding: 9.6rem 3.2rem;
}

.how-to-img-box {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}

.how-to-img {
  width: 35%;
}

.number {
  font-size: 8rem;
  color: #ccc;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.how-to-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.how-to-img-box::after {
  content: "";
  display: block;
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  border-radius: 50%;
}

.how-to-img-box::before {
  content: "";
  display: block;
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
}

/* ************ */
/* SECTION MEALS */
/* **************** */

.section-meals {
  padding: 4.8rem 0 3.2rem 0;
  margin-bottom: 9.2rem;
}

.meal {
  border-radius: 12px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  height: fit-content;

  width: fit-content;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-10px);
  box-shadow: 0 3.6rem 7.2rem rgba(0, 0, 0, 0.075);
}

.meal-img {
  height: 30%;
  width: 100%;

  overflow: hidden;
  border-radius: 12px 12px 0 0;
}

.meal-heading {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 4.8rem;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.meal-icon {
  height: 2.2rem;
  width: 2.2rem;
  color: #e67e22;
}

.tags {
  margin-bottom: 1rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  border-radius: 900px;
  text-transform: uppercase;
}

.tag-vegetarian {
  background-color: #40c057;
}

.tag-vegan {
  background-color: #a9e34b;
}

.tag-paleo {
  background-color: #fcc419;
}

.list-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.list-item {
  display: flex;
  gap: 0.6rem;
}

.list-item span {
  font-size: 1.8rem;
}

.check-icon {
  font-size: 2.2rem;
  color: #e67e22;
  font-weight: 700;
}

.more-recipes {
  grid-column: 1/-1;
  text-align: center;
}

.more-recipes-link:link,
.more-recipes-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  color: #e67e22;
  margin-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  transition: all 0.3s;
}

.more-recipes-link:hover,
.more-recipes-link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

span p {
  text-align: center;
}

/* ************ */
/* SECTION TESTIMONIAL*/
/* **************** */

.section-testimonials {
  background-color: #fdf2e9;
  padding: 9.6rem;
  padding-right: 1.6rem;
}

.test-gal {
  display: grid;
  grid-template-columns: 55fr 45fr;
  gap: 12rem;
}

.testimonials {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 7.2rem;
}

.testimonial-img {
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-author {
  font-size: 1.6rem;
  color: #777;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.gallery-img {
  overflow: hidden;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.gallery-img img:hover {
  transform: scale(1.15);
}
