/* ******************* */

/* NAVIGATION */
.main-nav-list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-item:link,
.main-nav-item:visited {
  display: inline-block;
  font-size: 1.8rem;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-item:hover,
.main-nav-item:active {
  color: #cf711f;
}

.main-nav-item.main-nav-cta:link,
.main-nav-item.main-nav-cta:visited {
  border-radius: 9px;
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  color: #fff;
}

.main-nav-item.main-nav-cta:hover,
.main-nav-item.main-nav-cta:active {
  background-color: #cf711f;
}

/* ******************* */
/* HERO */

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  padding: 0 3.2rem 0 3.2rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 9.6rem;
}

.hero-img {
  width: 100%;
}

.section-hero {
  /* height: 100vh; */
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

.main-heading {
  font-size: 5.2rem;
  color: #333;
  line-height: 1.05;
  letter-spacing: -0.5px;
  margin-bottom: 4.8rem;
}

.hero-desc {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 5.6rem;
}

.faces-div {
  padding-top: 8rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.images {
  display: flex;
}

.images img {
  width: 4.4rem;
  height: 4.4 rem;
  border-radius: 50%;
  margin-left: -1.6rem;
  border: 3px solid #fdf2e9;
}

.images img:first-child {
  margin-left: 0;
}

.faces-desc {
  font-size: 1.8rem;
  font-weight: 600;
}

.faces-desc span {
  color: #cf711f;
  font-weight: 700;
}

/* ************ */
/* SECTION HOW TO */
/* **************** */

.section-how-to {
  padding: 9.6rem 3.2rem;
}

.how-to-img-box {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}

.how-to-img {
  width: 35%;
}

.number {
  font-size: 8rem;
  color: #ccc;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.how-to-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.how-to-img-box::after {
  content: "";
  display: block;
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  border-radius: 50%;
}

.how-to-img-box::before {
  content: "";
  display: block;
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
}
