/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  background-color: #fdf2e9;
  padding: 0 3.2rem;
  position: relative;
}

.main-logo {
  height: 2.2rem;
}

/* ******************* */

/* NAVIGATION */
.main-nav-list {
  display: flex;
  list-style: none;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-item:link,
.main-nav-item:visited {
  display: inline-block;
  font-size: 1.8rem;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-item:hover,
.main-nav-item:active {
  color: #cf711f;
}

.main-nav-item.main-nav-cta:link,
.main-nav-item.main-nav-cta:visited {
  border-radius: 9px;
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  color: #fff;
}

.main-nav-item.main-nav-cta:hover,
.main-nav-item.main-nav-cta:active {
  background-color: #cf711f;
}

.btn-mobile-nav {
  cursor: pointer;
  border: none;
  display: none;
}

.mobile-icon {
  border: none;
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
  background-color: #fdf2e9;

  /* display: none; */
}

/* .mobile-nav .main-nav-list {
  display: none;
} */

.mobile-icon[name="close-outline"] {
  display: none;
}

/* ******************* */
/* HERO */

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  padding: 0 3.2rem 0 3.2rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 9.6rem;
}

.hero-img {
  width: 100%;
}

.section-hero {
  /* height: 100vh; */
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

.main-heading {
  font-size: 5.2rem;
  color: #333;
  line-height: 1.05;
  letter-spacing: -0.5px;
  margin-bottom: 4.8rem;
}

.hero-desc {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 5.6rem;
}

.faces-div {
  padding-top: 8rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.images {
  display: flex;
}

.images img {
  width: 4.4rem;
  height: 4.4 rem;
  border-radius: 50%;
  margin-left: -1.6rem;
  border: 3px solid #fdf2e9;
}

.images img:first-child {
  margin-left: 0;
}

.faces-desc {
  font-size: 1.8rem;
  font-weight: 600;
}

.faces-desc span {
  color: #cf711f;
  font-weight: 700;
}

/* ************ */
/* SECTION FEATURED IN */
/* **************** */

.section-featured-in {
  padding: 4.8rem 0 3.2rem 0;
}

.featured-in-heading {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* ************ */
/* SECTION HOW TO */
/* **************** */

.section-how-to {
  padding: 9.6rem 3.2rem;
}

.how-to-img-box {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}

.how-to-img {
  width: 35%;
}

.number {
  font-size: 8rem;
  color: #ccc;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.how-to-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.how-to-img-box::after {
  content: "";
  display: block;
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  border-radius: 50%;
}

.how-to-img-box::before {
  content: "";
  display: block;
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
}

/* ************ */
/* SECTION MEALS */
/* **************** */

.section-meals {
  padding: 4.8rem 0 3.2rem 0;
  margin-bottom: 9.2rem;
}

.meal {
  border-radius: 12px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  height: fit-content;

  width: fit-content;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-10px);
  box-shadow: 0 3.6rem 7.2rem rgba(0, 0, 0, 0.075);
}

.meal-img {
  height: 30%;
  width: 100%;

  overflow: hidden;
  border-radius: 12px 12px 0 0;
}

.meal-heading {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 4.8rem;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.meal-icon {
  height: 2.2rem;
  width: 2.2rem;
  color: #e67e22;
}

.tags {
  margin-bottom: 1rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  border-radius: 900px;
  text-transform: uppercase;
}

.tag-vegetarian {
  background-color: #40c057;
}

.tag-vegan {
  background-color: #a9e34b;
}

.tag-paleo {
  background-color: #fcc419;
}

.list-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.list-item {
  display: flex;
  gap: 0.6rem;
}

.list-item span {
  font-size: 1.8rem;
}

.check-icon {
  font-size: 2.2rem;
  color: #e67e22;
  font-weight: 700;
}

.more-recipes {
  grid-column: 1/-1;
  text-align: center;
}

.more-recipes-link:link,
.more-recipes-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  color: #e67e22;
  margin-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  transition: all 0.3s;
}

.more-recipes-link:hover,
.more-recipes-link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

span p {
  text-align: center;
}

/* ************ */
/* SECTION TESTIMONIAL*/
/* **************** */

.section-testimonials {
  background-color: #fdf2e9;
  padding: 9.6rem;
  padding-right: 1.6rem;
}

.test-gal {
  display: grid;
  grid-template-columns: 55fr 45fr;
  gap: 12rem;
}

.testimonials {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 7.2rem;
}

.testimonial-img {
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-author {
  font-size: 1.6rem;
  color: #777;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  align-items: center;
}

.gallery-img {
  overflow: hidden;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.gallery-img img:hover {
  transform: scale(1.15);
}

/* ************ */
/* SECTION PRICING*/
/* **************** */

.section-pricing {
  padding: 9.6rem 3.2rem;
}

.section-pricing .secondary-heading {
  margin-bottom: 3.6rem;
}

.plans {
  width: 75%;
  padding: 4.8rem;
  border-radius: 11px;
}

.plan--1 {
  justify-self: end;
  border: 2px solid #fdf2e9;
}

.plan--2 {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.plan--2::after {
  content: "best value";
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: #a9e34b;
  color: #333;
  font-weight: 700;
  padding: 0.6rem 7rem;
  position: absolute;
  top: 6%;
  right: -17%;
  transform: rotate(45deg);
}

.column-width {
  column-gap: 6.4rem;
}

.price-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-type {
  text-transform: uppercase;
  font-size: 2rem;
  color: #cf711f;
  font-weight: 600;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3.2rem;
  font-weight: 500;
}

.price-desc {
  font-size: 1.6rem;
  color: #777;
  line-height: 1.6;
}

.price-seb {
  text-align: center;
  margin-top: 4.8rem;
}

.subscription {
  text-align: center;
  margin-top: 4.8rem;
  margin-bottom: 9.6rem;
}

.subscription-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.features-price {
  column-gap: 4.2rem;
}

.feature-icon {
  color: #e67e22;
  width: 3.2rem;
  height: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
  background-color: #fdf2e9;
  margin-bottom: 2.4rem;
}

.feature-heading {
  font-size: 2.4rem;

  font-weight: 700;
  margin-bottom: 1.6rem;
  color: #333;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* ************ */
/* SECTION CTA */
/* **************** */

.section-cta {
  padding: 1.2rem 0 12.8rem 0;
}

.cta {
  background-image: linear-gradient(to bottom right, #eb984e, #e67e22);

  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.cta-img {
  background-image: linear-gradient(
      to bottom right,
      rgba(238, 164, 100, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-position: center;
  background-size: cover;
}

.cta-text {
  margin: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #2e1907;
  font-size: 1.8rem;
  line-height: 1.8;
}

.cta-text .secondary-heading {
  color: #2e1907;
  margin-bottom: -3.2rem !important;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.4rem;
  column-gap: 3.2rem;
  margin-top: 4.8rem;
}

label {
  font-size: 1.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
  margin-bottom: 1rem;
}

.cta-form input,
.cta-form select {
  padding: 1.2rem;
  border-radius: 9px;
  width: 100%;
  font-size: 1.8rem;
  border: none;
  background-color: #fdf2e9;
  color: inherit;
  font-family: inherit;
}

.btn {
  background-color: #2e1907;
  color: #fae5d3;
  font-weight: 700;
  font-size: 1.8rem;
  align-self: end;
  padding: 1.2rem;
}

.btn:hover {
  background-color: #fdf2e9;
  color: #2e1907;
}

.cta-form :focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.5);
}

/* ************ */
/* SECTION FOOTER */
/* **************** */

.footer {
  padding: 12.8rem 0;
  border-top: 2px solid rgb(245, 241, 241);
}

.grid-5-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-social {
  display: flex;
  flex-direction: column;
}

.social-links {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright-text {
  font-size: 1.4rem;
  line-height: 1.8;
  margin-top: auto;
  color: #767676;
}

.address {
  font-size: 1.6rem;
  line-height: 1.8;

  margin-bottom: 3.2rem;
}

.tel-mail {
  display: block;
  margin-bottom: 0.6rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-link a:link,
.footer-link a:visited,
.tel-mail:link,
.tel-mail:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #767676;
  transition: all 0.3s;
}

.footer-link a:hover,
.footer-link a:active,
.tel-mail:hover,
.tel-mail:active {
  color: #555;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
